{% extends 'base.html.twig' %}

 {% block body %}
 <div ng-controller="myCtrl">
 <div  >
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
<div >
    <table class="table" style="width:50%">
  
  <tbody>
    <tr>
      
      <td>Age :</td>
      <td>{{ "{{user.age}}" }}</td>
      
    </tr>
    <tr>
      
      <td>Race :</td>
      <td>{{ "{{user.race}}" }}</td>
      
    </tr>
    <tr>
      <td>famille : </td>
      <td>{{ "{{user.famille}}" }}</td>
     
    </tr>
    <tr>
      <td>norriture :</td>
      <td>{{ "{{user.norriture}}" }}</td>
     
    </tr>
  </tbody>
</table>
    
   
    <a href="/edit" class="btn"  > modifier</a>
</div>  
</div>
<div ng-controller="myCtrl2 as control2">
    
    Liste d'amis :
    
    <table class="table" style="width:50%;">
  
  <tbody>
    <tr ng-repeat="friend in friends">
      
      <td>{{ "{{friend.username}}" }}</td>
      <td><a class="btn btn-danger" ng-click="delete(friend.username)" href="">supprimer</a></td>
      
    </tr>
    </tbody>
    </table>
   
   

    <p>ajouter un ami en ajoutant son username :</p>
    <!-- {{ form_start(form) }}
 {{ form_widget(form) }}
 {{ form_end(form) }}-->
      <input type="text" ng-model="friend" >



    <table class="table" style="width:50%;">
  
  <tbody>
  
    <tr ng-repeat="user in users |filter:friend">
      
      <td>{{ "{{user.username}}" }}</td>
      <td><a ng-if="!user.is_friend" class="btn btn-success" href="" ng-click="ajouter(user.username)">Ajouter</a>
      <a ng-if="user.is_friend" class="btn btn-success disabled" href="">Amis</a>
      </td>
      
    </tr>
    </tbody>
    </table>
   
</div>

{% endblock %}
         {% block javascripts %}
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js">  </script>   
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"> </script>
         <script>
      var app = angular.module('myApp', []);
      </script>
       <script type="text/javascript">
          app.controller('myCtrl',['$scope','$http', function($scope, $http) {
              $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/getuser/"
              }).then(function mySuccess(response) {
                  $scope.user = response.data;
                  console.log(response.data);
              }, function myError(response) {
                  console.log(response);
              });
          }]);
          app.controller('myCtrl2',['$scope','$http', function($scope, $http) {
              $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/getmyfriends/"
              }).then(function mySuccess(response) {
                  $scope.friends = response.data;
                  console.log(response.data);
              }, function myError(response) {
                  console.log(response);
              });
              
              $scope.delete = function(username){
                console.log(username);
                $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/delete/"+username
              }).then(function mySuccess(response) {
                  $scope.friends = response.data;
                  console.log(response.data);
                   $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/allUsers/"
              }).then(function mySuccess(response) {
                  $scope.users = response.data;
                  console.log(response.data);
              }, function myError(response) {
                  console.log(response);
              });
                  
              }, function myError(response) {
                  console.log(response);
              });
              }
              $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/allUsers/"
              }).then(function mySuccess(response) {
                  $scope.users = response.data;
                  console.log(response.data);
              }, function myError(response) {
                  console.log(response);
              });
              $scope.ajouter = function(username){
                $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/ajouter/"+username
              }).then(function mySuccess(response) {
                 $scope.friends = response.data;  
               console.log(response.data);
                $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/allUsers/"
              }).then(function mySuccess(response) {
                  $scope.users = response.data;
                  console.log(response.data);
              }, function myError(response) {
                  console.log(response);
              });
              }, function myError(response) {
                  console.log(response);
              });
              }

          }]);
          app.controller('myCtrl3',['$scope','$http', function($scope, $http) {
              $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/allUsers/"
              }).then(function mySuccess(response) {
                  $scope.users = response.data;
                  console.log(response.data);
              }, function myError(response) {
                  console.log(response);
              });
              
              $scope.ajouter = function(username){
                $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/ajouter/"+username
              }).then(function mySuccess(response) {
                 $http({
                  method : "GET",
                  url : "http://127.0.0.1:8000/allUsers/"
              }).then(function mySuccess(response) {
                  $scope.users = response.data;
                  console.log(response.data);
              }, function myError(response) {
                  console.log(response);
              });
              }, function myError(response) {
                  console.log(response);
              });
              }
          }]);
</script>
{% endblock %}